html { background-color: white; }
body {
	max-width: 1000px;
	margin: 0 auto;
	padding: 20px;
	
	background-color: white;
	
	box-shadow: 0 0 15px grey;
	
	font-family: arial;
}

h1, h2, h3, h4, h5, h6 { font-family: verdana; }

li {
	margin: .5em 0;
}


.left {
	float: left;
	margin-right: 1em;
	margin-bottom: 1em;
}

.biline {
	font-size: 110%;
	font-style: italics;
}

button.epic {
	display: block;
	
	padding: 0.7em 1em;
	margin: 1em auto;
	
	font-size: 150%;
	font-weight: bold;
}

.aside { color: gray }

#tutorial > div { clear: both }

.action {
	display: inline-block;
	width: 150px;
	
	font-weight: bold;
}